---
import HomeLayout from '../../layouts/HomeLayout.astro';
import HeroSection from './sections/hero.astro';
import WhyChooseSection from './sections/why-choose.astro';
import OurServicesSection from './sections/our-services.astro';
import TestimonialsSection from './sections/testimonials.astro';
import PetGallerySection from './sections/pet-gallery.astro';
import BookAppointmentSection from './sections/book-appointment.astro';
import VisitUsSection from './sections/visit-us.astro';
import { HERO_CONTENT } from '../../data/home-hero-data';
---

<HomeLayout title={HERO_CONTENT.title} description={HERO_CONTENT.description}>
  <div class="animate-fade-in font-sans">
    <HeroSection />
    <WhyChooseSection />
    <OurServicesSection />
    <TestimonialsSection />
    <PetGallerySection />
    <BookAppointmentSection />
    <VisitUsSection />
  </div>
</HomeLayout>
